<div
  id="container"
  [ngClass]="{ selected: clickedCharacter }"
  [ngStyle]="{
    color: clickedCharacter ? 'white' : 'black'
  }"
>
  <img
    src="../../../assets/img/icons8-pistola-laser-96.png"
    alt=""
    class="gun"
    *ngIf="clickedCharacter"
  />

  <div class="card" (click)="selectedCharacter.emit(listCharacters?.id)">
    <div class="circle"></div>
    <img src="{{ listCharacters?.image }}" alt="rick" class="icon-img" />
    <span>NO. {{ listCharacters?.id }}</span>
    <span>{{ listCharacters?.name }}</span>
  </div>
</div>
