@font-face {
  font-family: "Game-Font";
  src: url("../../../assets/fonts/Game-Font.ttf");
}

#container {
  position: relative;
  display: flex;
  align-items: center;
  isolation: isolate;
}

.selected::before {
  position: absolute;
  content: "";
  width: 98%;
  height: 120%;
  left: 0px;
  background-color: rgba(147, 1, 180, 0.884);
  border-radius: 5px;
  z-index: -1;
}

.gun {
  position: absolute;
  height: 30px;
  transform: scaleX(-1);
}

.card {
  display: flex;
  align-items: center;
  background-color: #05c043;
  border-radius: 25px 5px 5px 25px;
  width: 90%;
  font-family: "Game-Font", monospace;
  font-size: xx-large;
  padding-left: 5px;
  margin-left: 30px;
  cursor: pointer;
  gap: 1rem;
}

.card .circle {
  border-radius: 50%;
  height: 30px;
  aspect-ratio: 1;
  background-color: rgba(0, 0, 0, 0.125);
}

.card .icon-img {
  height: 40px;
  border-radius: 10px;
}
