.container {
  border: 4px solid #fff;
  outline: 12px solid #a09f9f;
  max-width: 400px;
  aspect-ratio: 1;
  border-radius: 25px;
  background: repeating-linear-gradient(
    to bottom,
    #32de84,
    #32de84 15px,
    #2474a6 15px,
    #2474a6 25px
  );
}
