<header>
  <div class="titleContainer">
    <img src="../assets/img/icons8-morty.svg" />
    <h1>Rick and Morty</h1>
    <img src="../assets/img/icons8-rick-sanchez.svg" />
  </div>
  <div class="repoContainer">
    <img src="../assets/img/icons8-github.svg" />
    <a
      href="https://github.com/Alvaro-Hernandez"
      class="icon-header"
      target="_blank"
      >Ver mis Proyectos</a
    >
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <p>
    <kbd>X</kbd
    ><a href="https://acortar.link/7JwhdV" target="_blank"
      >Desarrollado por Alvaro N Benites Hernandez</a
    >
  </p>
  <p>
    <kbd>Y</kbd>
    <a href="https://iconos8.es/icons" target="_blank"
      >Iconos proporcionados por Iconos8</a
    >
  </p>
</footer>
