#container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
  height: calc(100vh - 110px);
  background: repeating-linear-gradient(
    0deg,
    #252525 0px,
    #252525 10px,
    #373737 10px,
    #2c3e50 50px,
    #252525 50px,
    #252525 60px,
    #373737 60px,
    #252525 90px,
    #373737 90px,
    #373737 100px,
    #2c3e50 100px,
    #2c3e50 140px,
    #252525 140px,
    #252525 150px,
    #373737 150px,
    #373737 160px,
    #2c3e50 160px,
    #2c3e50 170px,
    #252525 170px,
    #373737 190px
  );

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(236, 234, 92, 0.8);
    border-radius: 2px;
    box-shadow: inset 0 0 0 2px rgba(36, 41, 46, 0.8);
    border-left: 1.5px solid transparent;
    border-right: 1.5px solid transparent;
    background-clip: padding-box;
    cursor: grab;
  }

  ::-webkit-scrollbar-track {
    border: solid rgba(144, 172, 231, 0.8) 2px;
    cursor: pointer;
    background: repeating-linear-gradient(
      0deg,
      rgba(39, 109, 131, 0.8),
      rgba(39, 109, 131, 0.8) 5px,
      rgba(28, 71, 96, 0.8) 7px,
      rgba(28, 71, 96, 0.8) 9px
    );
  }
}

app-image-character {
  margin-left: 90px;
  z-index: 2;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

app-character-detail {
  position: absolute;
  z-index: 1;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
  max-height: 100%;
}

.spinner {
  max-height: 50px;
}
